* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-vdkblue: hsl(233, 47%, 7%);
    --clr-dkdsblue: hsl(244, 38%, 16%);
    --clr-sfvaccent:hsl(277, 64%, 61%);
    --clr-Hwhite: hsl(0, 0%, 100%);
    --clr-pwhite: hsla(0, 0%, 100%, 0.75);
    --clr-shwhite: hsla(0, 0%, 100%, 0.6);
}

body{
    margin: 0;
    font-family: 'Inter', 'Lexend', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--clr-vdkblue);
}

h1,
h2 {
  line-height: 1.1;
  margin-bottom: 1em;
  text-align: center;
  color: var(--clr-Hwhite);
}

p {
  line-height: 1.6;
  margin-bottom: 0.2em;
  text-align: center;
  color: var(--clr-pwhite);
  font-size: 14px;
}

span{
    color: var(--clr-sfvaccent);
}

main {
    padding: 0 1em;
    border-radius: 10px;
}

header{
    overflow: hidden;
    background: var(--clr-sfvaccent);
    border-radius: 10px 10px 0 0;
}
img,
picture{
    max-width: 100%;
    display: block;
    opacity: 0.4;
}

.hero-img{
    border-radius: 10px 10px 0 0;
}

.stats__content{
    background-color: var(--clr-dkdsblue);
    border-radius: 0 0 10px 10px;
    padding: 1.5em;
}

.stats-values{
    margin-top: 20px;
}

.stats-values div{
    margin-top: 14px
}

.stats-values p:first-of-type{
    color: var(--clr-Hwhite);
    font-weight: 700;
    font-size: 16px;
}

.stats-values p:last-of-type{
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

@media(min-width: 565px){
    main{
        display: flex;
        flex-direction: row-reverse;
        max-width: 900px;
        border-radius: none;
    }

    header{
        border-radius: 0px 10px 10px 0;
    }

    .stats__content{
        width: 50%;
        padding: 2em;
        border-radius: 10px 0 0 10px;
    }

    h1{
        text-align: left;
    }

    .stats__content p{
        text-align: left;
    }

    .stats__heroimg{
        width: 50%;
    }

    .hero-img{
        border-radius: 0 10px 10px 0;
    }

    .stats-values{
        display: flex;
        gap: 1.5em;
        margin-top: 1.3em;
    }
}